<form class="form" name="form" valid-submit="validate()" novalidate>
	<div class="alert alert-danger" ng-show="authError">{{ authError }}</div>
	<div class="form-group" ng-class="{'has-error': form.$submitted && form.username.$invalid}">
		<input type="text" class="form-control" name="username" placeholder="Username" 
			ng-model="auth.username" 
			ng-required="true">
		<div class="bg-danger" ng-show="form.$submitted && form.username.$error.required">Username is required</div>
	</div>
	<div class="form-group" ng-class="{
                    'has-error': form.$submitted && form.password.$invalid,
                    'has-success': form.$submitted && form.password.$valid}">
		<input type="password" class="form-control" name="password" placeholder="Password" 
			ng-model="auth.password" 
			ng-required="true">
		<div class="bg-danger" ng-show="form.$submitted && form.password.$error.required">Password is required</div>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">Sign In</button>
	</div>
</form>