<div> 
  <h1>{{ schedule.theme }}</h1>
  <h3><span class="fa fa-calendar"></span> {{ schedule.s_date | date:'MMM dd, yyyy' }}</h3>

  <ul class="list-group">
    <li href="#" ng-repeat="sub_schedule in schedule.sub_schedules" class="list-group-item">
      <h4>{{ sub_schedule.title }}</h4>
      <h5><span class="fa fa-clock-o"></span> {{ sub_schedule.start_time }}-{{ sub_schedule.end_time }}</h5>
      <div><em>Presented by </em>{{ sub_schedule.presenter }}</div>
      <div><em>Leaded by </em>{{ sub_schedule.lead }}</div>
      <div ng-show="sub_schedule.notes"><em>Notes </em>{{ sub_schedule.notes }}</div>
      <span class="label label-default resource_name" ng-repeat="resource in sub_schedule.resources">{{ resource.name }}</span>
    </li>
  </ul>

  <div class="form-group">
    <button type="button" class="btn btn-default" ng-click="unlock(schedule)" ng-show="showUnlock()">Unlock Schedule</button>
    <button type="button" class="btn btn-default" ng-click="edit(schedule)" ng-show="isEditable()">Edit Schedule</button>
  </div>
</div>