<div> 
  <h1>Upcomming</h1>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="date">Date</th>
        <th class="theme">Event name</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="schedule in schedules" ng-click="showDetail(schedule)">
        <td>{{ schedule.s_date | date:'dd-MM-yyyy' }}</a></td>
        <td>{{ schedule.theme }}</td>
      </tr>
    </tbody>
  </table>

  <h1>Past
    <span class="fa fa-chevron-down" ng-click="showPast()" ng-show="isCollapsed"></span>
    <span class="fa fa-chevron-up" ng-click="hidePast()" ng-hide="isCollapsed"></span>
  </h1>
  <div collapse="isCollapsed">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th class="date">Date</th>
          <th class="theme">Event name</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="schedule in pastSchedules" ng-click="showDetail(schedule)">
          <td>{{ schedule.s_date }}</a></td>
          <td>{{ schedule.theme }}</td>
        </tr>
      </tbody>
    </table>    
  </div>
</div>
 
