<form class="form" name="schedule_form" valid-submit="save()" novalidate>
  <div class="row">
  	<div class="form-group col-md-8" ng-class="{'has-error': form.$submitted && form.theme.$invalid}">
      <input type="text" name="theme" class="form-control" placeholder="Theme" ng-model="schedule.theme"
        ng-required="true">
      <div class="bg-danger" ng-show="schedule_form.$submitted && schedule_form.theme.$error.required">Theme is required</div>
    </div>
  </div>
  <div class="row">
  <div class="form-group col-md-4" ng-class="{'has-error': form.$submitted && form.s_date.$invalid}">
    <div class="input-group">
      <input type="text" name="s_date" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="schedule.s_date" is-open="opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
      </span>
    </div>
    <div class="bg-danger" ng-show="schedule_form.$submitted && schedule_form.s_date.$error.required">Date is required</div>
  </div>
  </div>

  <ul class="list-group">
    <a ng-repeat="sub_schedule in schedule.sub_schedules" class="list-group-item" ng-click="editDetail(sub_schedule)">
      <h4>{{ sub_schedule.title }}</h4>
      <h5><span class="fa fa-clock-o"></span> {{ sub_schedule.start_time }}-{{ sub_schedule.end_time }}</h5>
      <div><em>Presented by </em>{{ sub_schedule.presenter }}</div>
      <div><em>Leaded by </em>{{ sub_schedule.lead }}</div>
      <div ng-show="sub_schedule.notes"><em>Notes </em>{{ sub_schedule.notes }}</div>
      <span class="label label-default resource_name" ng-repeat="resource in sub_schedule.resources">{{ resource.name }}</span>
    </a>
  </ul>

  <div class="form-group">
    <button type="button" class="btn btn-default" ng-click="lock(schedule)" ng-show="isUser() || isAdmin()">Lock Schedule</button>
    <button type="button" class="btn btn-default" ng-click="addSubSchedule(schedule)">Add Schedule</button>
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>